<template>
    <AuthenticatedLayout>
      <div class="weather-container">
        <h1>Current Weather</h1>
        <div class="weather-info">
          <img :src="'https://openweathermap.org/img/wn/' + weather.weather[0].icon + '.png'" alt="">
          <p><strong>Location:</strong> {{weather.name}}</p>
          <p><strong>Temperature:</strong> {{ weather.main.temp}}°C</p>
          <p><strong>Windspeed:</strong> {{ weather.wind.speed}}m/s</p>
          <p><strong>Time:</strong> {{ timeConverter(weather.dt)}}</p>
        </div>
      </div>
    </AuthenticatedLayout>
  </template>
  
  <script setup>
  import { defineProps } from 'vue';
  import AuthenticatedLayout from '@/Layouts/AuthenticatedLayout.vue';
  
  defineProps({
    weather: {
      units: 'metric',
      type: Object,
      default: null,
    }
  })
  
  function timeConverter(UNIX_timestamp){
    var a = new Date(UNIX_timestamp * 1000);
    var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
    var year = a.getFullYear();
    var month = months[a.getMonth()];
    var date = a.getDate();
    var hour = a.getHours();
    var min = a.getMinutes();
    var sec = a.getSeconds();
    var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;
    return time;
  }
  </script>
  
  <style>
  body {
    background-color: #f2f2f2;
  }
  
  .weather-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .weather-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
  }
  
  .weather-info img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
  }
  
  .weather-info p {
    margin: 10px;
    font-size: 18px;
    line-height: 1.5;
  }
  </style>